/* base start */
body,
dd,
div,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
li,
ol,
p,
textarea,
ul {
  margin: 0;
  padding: 0;
}

body,
div,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-text-size-adjust: none;
  padding: 0;
  margin: 0;
  background-color: rgba(248, 249, 250, 1) !important;
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 400;
  font-size: 100%;
}

em,
i {
  font-style: normal;
}

li,
ol,
ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

button,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  vertical-align: text-top;
  border: none;
}

textarea {
  resize: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  border-radius: 0;
}

input {
  outline: 0;
  border: 0;
}
/* base end */

#app {
  margin: 0 auto;
}

#app .header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
}

#app .git-star {
  position: fixed;
  top: 65px;
  left: 50%;
  width: 130px;
  height: 30px;
  transform: translate(-50%);
}

#app .main {
  margin: 0 auto;
  min-height: 80vh;
}

#app .main .qrcode-bg {
  display: none;
  width: 300px;
  margin: 0 auto;
  padding: 42px 20px;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
}

#app .main .qrcode {
  cursor: pointer;
  width: 256px;
  margin: 0 auto;
}
#app .main .vmess-link {
  display: none;
  cursor: pointer;
  background-color: #282c34;
  color: #fff;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto;
  word-break: break-all;
}

#app .footer {
  padding: 0 20px 20px;
}

#app .footer .tips {
  text-align: center;
  color: #ccc;
}
#app .footer .tips a {
  color: #ccc;
}
#app .footer .tips a:visited {
  color: #ccc;
}

.toast {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #282c34;
  border-color: #282c34;
  color: #909399;
  display: none;
}
.toast--success {
  display: flex;
  color: #67c23a;
}
.toast--warning {
  display: flex;
  color: #e6a23c;
}
.toast--error {
  display: flex;
  color: #f56c6c;
}
.toast--loading {
  display: flex;
  color: #909399;
}
.toast__icon {
  display: inline-block;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #909399;
}
.toast--success .toast__icon {
  border: 1px solid #67c23a;
}
.toast--warning .toast__icon {
  border: 1px solid #e6a23c;
}
.toast--error .toast__icon {
  border: 1px solid #f56c6c;
}
.toast--loading .toast__icon {
  border: 1px solid #909399;
}
.toast__content {
  margin-left: 4px;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
